<%= content_tag tag_name, **tag_options do %>
  <%= loading_spinner if loading %>
  
  <div class="<%= content_classes %> <%= 'opacity-0' if loading %>">
    <% if show_icon? && icon_left? %>
      <%= helpers.phosphor_icon(icon, size: icon_size) %>
    <% end %>
    
    <% if content.present? %>
      <span><%= content %></span>
    <% end %>
    
    <% if show_icon? && icon_right? %>
      <%= helpers.phosphor_icon(icon, size: icon_size) %>
    <% end %>
  </div>
<% end %>